# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/
electron-cache/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo


/electron-cache
/assets/