---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Changelog from '../../components/Changelog.astro';
import Footer from '../../components/Footer.astro';

const lang = 'zh';
---

<Layout title="更新日志 - 旗鱼终端" lang={lang}>
  <Header lang={lang} />
  <main>
    <Changelog lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
