---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import DataPrivacy from '../../components/DataPrivacy.astro';
import Footer from '../../components/Footer.astro';

const lang = 'zh';
---

<Layout title="数据安全与隐私 - 旗鱼" lang={lang}>
  <Header lang={lang} />
  <main>
    <DataPrivacy lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
