---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import SkillMarket from '../../components/SkillMarket.astro';
import Footer from '../../components/Footer.astro';

const lang = 'zh';
---

<Layout title="技能市场 - 旗鱼" lang={lang}>
  <Header lang={lang} />
  <main>
    <SkillMarket lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
